
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;

}

h1,h2,h3,h4,h5,a{
  font-family: "Outfit", sans-serif;
  font-style:normal ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
